<div [class.done]="computedField"></div>
<div [style.width.px]="computedNumber" [style.backgroundColor]="'red'">
  Hallo
</div>

<div>{{ computedField }}</div>

{{ "hallo" }}
{{ 3 }}
{{ 17 + 4 }}

<p>
  {{ value }}
</p>
<div [style.backgroundColor]="myColor">My green container</div>
<button (click)="afterClicked($event)" (mousemove)="movedMyMouse()">
  Click me
</button>

{{ value | uppercase }}
{{ value | lowercase }}
{{ value | yell:'???' }}

{{ number | percent }}
{{ number | currency }}
{{ number | number:'0.5' }}

<app-todo (doneEvent)="catchDone($event)" [todo]="myTodo" (todoClicked)="catchEvent($event)" [text]="todoText"></app-todo>
